body {
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container > div {
    width: 25%;
    height: 25vw;
    flex-shrink: 0;
    box-sizing: border-box;
}

.container > div {
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 50px;

    transition: all 1s;
}

.contianer > div:hover {
    font-size: 180px;
    color: rgba(255, 255, 255, 0.5);
}

.container > div:nth-child(1) {
    background: url('https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&h=350');
    
}

.container > div:nth-child(2) {
    background: url('https://cdn.pixabay.com/photo/2017/08/04/10/36/background-2579719_960_720.jpg');
}

.container > div:nth-child(3) {
    background: url('https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/441870/72cd26e14b7fcba028206a06f10548c0d5174cfc.jpg');
}

.container > div:nth-child(4) {
    background: url('https://images.unsplash.com/photo-1487837647815-bbc1f30cd0d2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8baa4175fc826de805f96bc428c653a0&w=1000&q=80');
}

.container > div:nth-child(5) {
    background: url('https://i.pinimg.com/originals/ca/6d/49/ca6d49824901d1c7a1b3a2f7014005df.jpg');
}